<!-- <div style="color: #ffc106">Weber, Joy</div> -->
<div class="btn-group">
  <button
    type="button"
    class="btn dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Weber, Joy
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item" href="#"
        ><i class="fa-solid fa-briefcase mr-2"></i>Administration</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#"
        ><i class="fa-solid fa-download mr-2"></i>Import manager</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="#"
        ><i class="fa-solid fa-clipboard-list mr-2"></i>Post decision case
        manager</a
      >
    </li>
  </ul>
</div>
