.searchInput {
  border: 1px solid white;
  height: 28px;
}

.searchButton {
  padding: 2px;
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid white;
  border-left: none;
  width: 75px;
}



.menu-link {
  color: #ccc;
  cursor: pointer;
}

#signOutOption:hover {
  color: #ccc;
}
