.tab-bar {
  display: flex;
  border-bottom: 1px solid white;
  align-items: center;
}

.tab {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  margin-right: 4px;
  background: white;
}

.tab.active {
  background: #eee;
  // font-weight: bold;
  border-top: 5px solid #004c97;
  border-bottom: none;
}

.tab button {
  margin-left: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.add-tab {
  margin-left: auto;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}

.tab-content {
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #eee;
}
